


<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <div class="center">
    <h1>Edit your comment</h1>
    <%= form_for [ @post, @comment ] do |f| %>
      <%= f.text_area :comment %><br>
      <%= f.submit "Submit", class: "submitbuttons" %>
    <% end %>
    </div>
  </div>
</div>

